*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}
header,
.left,
.right{
	position: absolute;
}
header{
	left: 10px;
	top: 10px;
	right: 10px;
	height: 150px;
	border: 1px solid #fff;
}
header h1{
	font-size: 40px;
	height: 60px;
	line-height: 60px;
}
.left{
	left: 10px;
	top: 170px;
	bottom: 10px;
	width: 200px;
	border: 1px solid #fff;
	text-align: left;
}
.left ul{
	overflow: auto;
}
.left ul li{
	height: auto;
	line-height: 30px;
	padding:0 15px;
	cursor: pointer;
}
.left ul li.selected{
	color: green;
}
.right{
	top: 170px;
	right: 10px;
	bottom: 10px;
	left: 220px;
	border: 1px solid #fff;
}

a {
  color: #00B7FF;
}
.type{
	display: block;
	width: 160px;
	height: 32px;
	line-height: 30px;
	margin: 10px auto;
	border: 1px solid #fff;
	border-radius: 5px;
	overflow: hidden;
	clear: both;
}
.type li{
	width: 50%;
	float: left;
	text-align: center;
}
.selected{
	color: #000;
	background: #fff;
}